<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Tiny App</title>
  </head>
  <body>

    <form method="POST" action="/login">
      <input name="username">
      <button>Sign In </button>

  </body>
</html>