<!DOCTYPE html>

<html lang="en">
  <head>
    TinyAPP
    <% include partials/_header %>
  </head>
  <body style="font-size:20px; padding:50px;">
    <form method="POST" action="/register">
      <br>
      Email:
      <input type="email" name="email">
      <br>
      Password:

      <input type="password" name="password">
      <br>
    <button>Enter</button>


    </form>
  </body>
</html>


