<!DOCTYPE html>

<html lang="en">
<head>
  <title>TinyApp</title>
  <% include partials/_header %>
</head>
<body>
    <ul>
      <% if(!user) { %>
        <p> Login to view your urls </p>
      <% } else { %>
      <h1> Your URLS: </h1>
        <% for(let key in urls) { %>
          <li><%= key + ": "  + urls[key].url %>
          <form method="POST" action= "/urls/<%= key %>/delete">
          <button>Delete</button>
          </form>
          <a href="/urls/<%=key%>"><button> Edit </button></a>
          </li>
      <% } } %>
    </ul>
    <a href= "/urls/new">Click here to make a tinyUrl</a>
</body>
</html>